<!DOCTYPE html>
<html>
<head>
    <title>Hawkes Learning Password Reset Request</title>
	<meta charset="utf-8" />
</head>
<body>
    Dear @Model.Name,

    <p>Please use the link below to initiate the password reset process for your Hawkes Learning account associated with your email address (@Model.Email).</p>
    <a href="@Raw(Model.ResetUrl)">Reset Password</a>

    <p>Link not working? Paste the following URL into your browser:</p>
    <a href="@Raw(Model.ResetUrl)">@Raw(Model.ResetUrl)</a>

    <p>If you do not wish to reset your password or did not submit this request, simply disregard this message and nothing will be changed.</p>

    <p>Best Regards,</p>

    <p><strong>HAWKES</strong> LEARNING</p>
    <a href="https://secure.livechatinc.com/licence/5206491/open_chat.cgi">Chat with a LIVE Hawkes Representative</a>
    <a href="http://support.hawkeslearning.com/supportcenter/index.php?/article/AA-00597">Find answers to most questions</a>
    <a href="http://www.hawkeslearning.com/Support/SupportRequest.aspx">Request Technical Support</a> 
</body>
</html>
